<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" href="/public/css/main.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/98fc5c884d.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>

</head>

<body>


    <div>
        <main>
            {{{body}}}
        </main>
    </div>

    {{#if script}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{script}}"></script>
    {{/if}}
</body>

</html>