<h2>List of All Idols</h2>
<div>
<ul class="idolList"></ul>
{{#each idols}}
	<li><a href="/idols/{{this.group}}-{{this.name}}">{{this.name}}</li>
{{/each}}
</ul>

{{#if error}}
<p class="error"> {{error}}</p>
{{/if}}

<a href="/idols/newIdol">Can't find an idol. Create it here!</a>

</div>