
<section class="second-page">
    <h1>About
    </h1>
    <div class=picbox>
        <div class=box1>
            <img src="/public/img/seulgipicture.png">
        </div>
        <div class=box2>
            <h2>Details</h2>
            <li>Summer project created by Suneedhi, Colleen and Cindy</li>
            <li> Functions like reddit and kpop profile</li>
        </div>
        <div class=box3>
            <img src="/public/img/wonyoung.png">
        </div>
    </div>
</section>
<section class="footer">
    <h4>Contact</h4>
    <header class="suneedhi">
        <h5>Suneedhi</h5>
    </header>
    <header class="colleen">
        <h5 id="colleen"> Colleen:</h5>
    </header>
    <header class="cindy">
        <h5 id="cindy"> Cindy: </h5>
    </header>
    <h7> Cindy</h7>
    <div class=picbox2>
        <div class=logo1>
            <a href="https://github.com/laddhasuneedhi">
                <img src="/public/img/github.png">
            </a>
        </div>
        <div class=logo2>
            <a href="https://www.linkedin.com/in/suneedhi-laddha-44a423199/">
                <img src="/public/img/linkedin.png" class="github2">
            </a>
            <a href="https://github.com/ColleenQue">
                <img src="/public/img/github.png" class="github3">
            </a>
        </div>
        <div class=logo3>
            <img src="/public/img/linkedin.png" class="github4">
            <a href="https://github.com/cindytran211/">
                <img src="/public/img/github.png" class="github5">
            </a>
            <img src="/public/img/linkedin.png" class="github6">

        </div>
    </div>
    <div class="vertical">
    </div>
    <div class="vertical2">
    </div>
</section>